@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}
html, body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  @apply bg-slate-50 text-slate-900;
}
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  cursor: default;
}
input,
textarea {
  cursor: text;
}
button,
a,
[role="button"],
.clickable {
  cursor: pointer;
}
.custom-scroll {
  padding-right: 12px;   /* space for scrollbar */
  margin-right: -6px;    /* pull scrollbar inward */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(99, 102, 241, 0.25); /* indigo-500, very soft */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(99, 102, 241, 0.45);
}
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(99, 102, 241, 0.25) transparent;
}

button:disabled,
[aria-disabled="true"] {
  cursor: not-allowed;
}
.selectable {
  cursor: text;
  user-select: text;
}
